.team-page {
  .app-frame__main-content {
    border-top: none !important;
  }

  .team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 2.2rem;
    background-color: $app-bg;
    padding: 2rem;
    max-width: 75%;
    margin: 0 auto;
  }

  .team-member-id {
    &__avatar {
      width:  88px;
      height: 88px;
      border: 2px solid $medium-gray;

      &-image {
        width:  88px;
        height: 88px;
      }
    }

    &__name {
      font-size: 1.3rem;
      font-weight: 700;
      color: $medium-dark-gray;

      &--stacked {
        gap: 0.5rem;
      }
    }
  }

  @media (max-width: 767px) {
    .team-grid {
      gap: 1rem;
      padding: 1.5rem;
      max-width: 90%;
 
      .team-member-id {
        &__avatar {
          width:  72px;
          height: 72px;
          border: 2px solid $medium-gray;

          &-image {
            width:  72px;
            height: 72px;
          }
        }
        &__name {
          font-size: 1.1rem;
        }
      }
    }
  }
}