.app-frame.team-member-page {
  .new-event-button {
    color: $primary-blue;
    
    &:active {
      transform: scale(0.98);
    }
  }

  .content-wrapper {
    padding: 0 14px;

    @media (max-width: 768px) {
      padding: 0;
    }
  }

  .main-content {
    border-top: none !important;
  }


  .team-member-header {
    // background: pink;
    display: flex;
    align-items: center;
    padding: 1rem 0px;
    flex-shrink: 0;

    .team-member-id {
      &__name {
        font-size: 1.5rem;
        font-weight: 800;
        color: $medium-dark-gray;
      }

      &__avatar {
        width: 60px;
        height: 60px;
        border: 3px solid $medium-gray;
      }
    }

    .back-to-team {
      font-size: 28px;
      line-height: 0;;
      &:hover {
        color: $primary-blue;
      }
    }
  }

  .team-member-schedule {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;

    h2 {
      font-size: 1.8rem;
      font-weight: 600;
      color: $medium-dark-gray;
      margin-bottom: 1.5rem;
      flex-shrink: 0;
    }
  }
}