.team-calendar-page {
  .new-event-button {
    color: $primary-blue;
    &:hover {
    }
    
    &:active {
      transform: scale(0.98);
    }
  }

  .app-frame__content-wrapper {
    padding: 0 1rem;

    @media (max-width: 768px) {
      padding: 0;
    }
  }

  .app-frame__main-content {
    display: flex;
    flex-direction: row;
  }

  .team-calendar {
    width: 100%;
    background: #ffffff;
    border: 1px solid #cacac7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(202, 202, 199);
    border-bottom: 0;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    transition: width 350ms var(--soft-bounce-easing);

    &.day-view-open {
      width: 60%;
    }
  }

  .team-member-list {
    margin-left: -14px;
    
    &__header {
      padding: 0 12px 12px 14px;
      transition: opacity 0.15s ease;
    }
    
    // &__list {}

    &__item {
      padding-left: 14px;
    }

    @media (max-width: 767px) {
      &__header {
        order: 2;
        padding: 0.75rem 12px 0 14px;
      }
      &__list {
        order: 1;
      }
    }
  }
}

.team-calendar__new-event-popover {
  .event-editor__actions {
    display: flex; 
    align-items: center;
    justify-content: right;
    padding-top: 8px;
  }
}