.app-frame.team-calendar-page {
  .content-wrapper {
    padding: 0 14px;

    @media (max-width: 768px) {
      padding: 0;
    }
}

  .team-member-list {
    margin-left: -14px;
    
    &__header {
      padding: 0 12px 12px 14px;
      transition: opacity 0.15s ease;
    }
    
    &__item {
      padding-left: 14px;
    }
  }

  .sidebar.closed {
    .team-member-list__header {
      opacity: 0;
    }
  }
}