.app-frame.team-calendar-page {
  .new-event-button {
    color: $primary-blue;
    &:hover {
    }
    
    &:active {
      transform: scale(0.98);
    }
  }

  .content-wrapper {
    padding: 0 14px;

    @media (max-width: 768px) {
      padding: 0;
    }
  }

  .team-member-list {
    margin-left: -14px;
    
    &__header {
      padding: 0 12px 12px 14px;
      transition: opacity 0.15s ease;
    }
    
    &__item {
      padding-left: 14px;
    }
  }

  
  // Sidebar variants
  &.sidebar-open {
    .content-wrapper {
      padding:0;
    }
    .team-member-list {
      padding-left: 14px;
    }
  }
}

.team-calendar__new-event-popover {
  .event-editor__actions {
    display: flex; 
    align-items: center;
    justify-content: right;
    padding-top: 8px;
  }
}