.app-frame {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: $app-bg;

  &__top-bar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
    align-items: center;
    padding: 12px 14px;

    &-left,
    &-middle,
    &-right {
      display: flex;
      gap: 10px;
      align-items: center;
    }
    &-left {
      justify-content: flex-start;
    }
    &-middle {
      justify-content: center;
      grid-column: 2;
    }
    &-right {
      justify-content: flex-end;
    }

    button {
      background: none;
      color: $medium-dark-gray;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      font-size: 32px;
      line-height: 0;
      height: auto;

      &:hover, 
      &.active {
        color: $primary-blue;
      }

      &.sidebar-toggle {
        transition: color 0.2s;

        &:hover {
          color: $dark-gray;
        }
      }
      
      &.sidebar-toggle {
        margin-right: 10px;
      }

      &.sync-with-jobber {
        width: 141px;
        height: 18px;
        margin-left: auto;

        &:hover {
          color: rgb(50, 130, 28);
        }
      }
    }
  }

  &__content-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 12px;
    width: $sidebar-width;
    transition: all 0.15s ease;

    &.closed {
      width: 0;
      overflow:hidden;
      padding:0;
    }
  }

  &__main-content {
    flex: 1;
    overflow-y: auto;
  }
  
  @media screen and (max-width: 767px) {
    &__top-bar {
      order: 2;
      box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
      position: relative;
    }
    &__content-wrapper {
      order: 1;
    }
  }
}