.team-calendar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &__grid {
    flex: 1;
    height: 100%;
  }

  // The Team Member Event Popover
  &__event-popover {
    background-color: $app-bg;

    .team-member-id {
      margin-bottom: 14px;
    }
  }
}