@use '@/styles/variables' as *;

.calendar-popover {
  background-color: $app-bg;

  .popover__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  // Team member display in event popover
  .team-member-id {
    margin-left: auto; // Push to the right
    width: fit-content; // Only take up necessary space
    display: flex; // Ensure proper inline layout
  }

  &__header-actions,
  &__footer-actions {
    display: flex;
    gap: 8px;
    width: fit-content; // Only take up necessary space
    align-items: center;
  }
  &__header-actions {
    margin-left: auto; // Push to the right
  }
  &__footer-actions {
    justify-content: space-between;
    width: 100%;
  }

  &__header-actions:empty {
    display: none;
  }
  
  &__save-indicator {
    display: flex;
    align-items: center;
    // opacity: 0;
    // transition: all 0.3s ease;
    pointer-events: none;
    font-size: 30px;
    color: $success-color;
    
    .saving-text {
      font-size: 14px;
      font-weight: 700;
      opacity: 0;
      display:none;
      transition: opacity 0.3s ease;
      color: $medium-dark-gray;
    }
    
    .saved-icon {
      display: flex;
      opacity: 0;
      align-items: center;
      transition: opacity 0.3s ease;
    }

    &.-saving {
      // opacity: 1;
      .saving-text {
        display:inline-block;
        opacity: 1;
      }
    }

    &.-saved {
      .saved-icon {
        opacity: 1;
      }
      .saving-text {
        display:none;
        opacity: 0;
      }
    }
  }

  &__delete-button {
    &:hover {
      background: #dc3545!important;
      color: white!important;
      border-color: #dc3545!important;
    }
  }

  // Event editor container
  .event-editor {
    min-width: 320px;
  }
}

// Add padding for new event popover (when save button is present)
// .calendar-popover {
//   &:has(.calendar-popover__save-button) .Popover-Content {
//     padding-top: 36px;
//   }
// }