.team-member-calendar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: 1px solid #cacac7;
  border-bottom: 0;
  border-radius: 6px 6px 0 0;
  overflow: hidden;

  &__grid {
    flex: 1;
  }

  .calendar-event__eventType {
    &--short {
      // display: none !important;
    }
    &--full {
      // display: inline-block !important;
    }
  }
}

