.sandbox-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  min-height: 100vh;

  .left {
    flex: 1;
    max-width: 400px;
  }

  .right {
    flex: 1;
    align-self: flex-start;
    // max-width: 50vw;
  }
 
  pre {margin:0}
}